.propertyDetails-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.child {
  display: flex;
  text-align: center;
}

.last-row {
  grid-column: 1 / 3;
}

.propertyDetails-info {
  width: 50vw;
  height: 50vh;
  border: 1px solid red;
}

.propertyDetails-tenants {
  width: 50vw;
  height: 50vh;
  border: 1px solid blue;
}

.propertyDetails-outstanding {
  border: 1px solid green;
  height: 25vh;
}

.propertyDetails-completed {
  border: 1px solid purple;
  height: 25vh;
}

/* Property Info Component - Begins */

.propertyInfo-container {
  overflow: auto;
}

.propertyInfo-icon {
  width: 100%;
  height: 100%;
  border: 1px solid green;
}

/* Property Info Component - Ends */