.propertyDetails-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.last-row {
  grid-column: 1 / 3;
}

.propertyDetails-info {
  /* width: 50vw; */
  /* height: 50vh; */
  /* border: 1px solid red; */
  text-align: center;
  overflow: auto;
  padding: 1.5em;
}

.propertyDetails-tenants {
  /* width: 50vw; */
  /* height: 50vh; */
  /* border: 1px solid blue; */
  overflow: auto;
  padding: 1.5em;
  text-align: center;
}

.propertyDetails-outstanding {
  /* border: 1px solid green; */
  /* height: 25vh; */
  text-align: center;
  overflow: auto;
  padding: 1.5rem;
}

.propertyDetails-completed {
  /* border: 1px solid purple; */
  /* height: 25vh; */
  text-align: center;
  overflow: auto;
  padding: 1.5rem;
}

.propertyDetails-outstanding-table {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.propertyDetails-completed-table {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.propertyDetails-tenants-table {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}