.newWorkOrder-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.newWorkOrder-form {
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 550px;
}

.newWorkOrder-btn-container {
  margin-top: 1.5em;
}

.newWorkOrder-form-subject {
  margin-top: 1rem;
}