.workOrderDetails-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.workOrderDetails-progressBar {
  /* border: 1px solid red; */
  grid-column: 1 /3;
  /* height: 10vh; */
  padding: 1.5rem;
}

.workOrderDetails-info {
  /* border: 1px solid blue; */
  height: 90vh;
  padding: 1.5rem;
  overflow: auto;
}

.workOrderDetails-comments-container {
  /* border: 1px solid green; */
  height: 90vh;
  display: flex;
  flex-direction: column;
}

/* ----- WorkOrder Comments Component ----- */
.workOrderDetails-comments-new {
  padding: 1.5rem;
  /* overflow: auto; */
  /* border: 1px solid orange; */
}

.workOrderDetails-comments-list {
  /* border: 1px solid yellowgreen; */
  padding: 1.5rem;
  overflow: auto;
}

.workOrderComment-new-container {
  padding: 1rem 1rem 0rem 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: auto;
}

.workOrderComment-new-attachments {
  margin-top: 1.5em;
}

.workOrderComment-img {
  height: 25%;
  width: 25%;
}

.workOrderComment-card {
  margin-bottom: 1rem;
}